@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
    --cor-fundo-escuro: #111109;
    --cor-fundo-claro: #7f7f47;
    --peso-fonte-padrao: 500;
    --peso-fonte-botoes: 700;
    --cor-fundo-botao: #007BFF;
}
body {
    background: #1E1E14;
}