@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
    /* Cores */
    --cor-fundo-escuro: #111109;
    --cor-fundo-padrao: #1E1E14;
    --cor-fundo-claro: #7f7f47;
    --bg-botao-login: #007BFF;
    --bg-botao-login: #5623e0;
    --bg-hover-botao-login: #0056b3;
    --bg-hover-botao-login: #3e13b4;
    --bg-botao-vermelho: #e53935;
    --bg-hover-botao-vermelho: #b71c1c;
    --hint-text: #333333;
    --cor-pagina-selecionada: gold;
    --cor-textos-pequenos: rgb(36, 36, 36);
    --vermelho-tela-quiz: rgb(255, 51, 15);
    /* Tamanhos */
    --major-footer-h: 4.5rem;
    --peso-fonte-padrao: 500;
    --peso-fonte-botoes: 700;
}
.mensagem {
    color: red;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
}
/*
footer {
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    color: white;
    background-color: var(--cor-fundo-escuro);
    font-size: 14px;
}*/
.footer {
  width: 100%;
  display: flex;
  background: var(--cor-fundo-escuro); 
  position: fixed;
  align-items: center;
  justify-content: center;
  height: var(--major-footer-h);
  bottom: 0;
  left: 0;
  right: 0; 
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
}
.main-politica-de-privacidade {
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}
.content-politica-de-privacidade {
  max-width: 1000px;
  margin: 0 auto;
  background: var(--cor-fundo-claro);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 6px 24px rgba(0,0,0,0.06);
}
.h1-politica-de-privacidade { margin: 0 0 8px; font-size: 1.6rem; }
.h2-politica-de-privacidade { margin-top: 20px; font-size: 1.05rem; }
.p-politica-de-privacidade { line-height: 1.5; font-weight: var(--peso-fonte-padrao ); font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; }
.li-politica-de-privacidade { margin-left: -38px; margin-top: 5px; font-weight: var(--peso-fonte-padrao ); }
.ul-politica-de-privacidade { margin: 8px 0 16px 20px; }
.header-content-politica-de-privacidade { display: flex; justify-content: space-between; }
.last-update {font-size: 0.9rem; color: var(--cor-textos-pequenos); font-weight: 500; }
.html-politica-de-privacidade, .body-politica-de-privacidade {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  color: black;
  background: var(--cor-fundo-padrao);
  overflow: hidden;
}
