<meta charset="UTF-8">

<!-- Configura tela de smartphones -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Descrição e ícone do site no mecanismo de pesquisa Google -->
<meta name="description" content="Experimente mais de 1000 perguntas em inúmeros temas científicos e populares, acumule pontos e suba de ranking">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/Favicon.png') }}?v=1">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17529321916"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-17529321916'); </script>

<!-- Rastreio da Hilltopads -->
<meta name="hilltopads-site-verification" content="e607b7eacc66223b94d4a395040ef828cec89698"/>

<!--
  Social bar do AdsTerra com restrição para admin
  <script type="module">
    async function carregarSocialBar() {
      try {
        // Import dinâmico (funciona dentro de try/catch)
        const utils = await import("{{ url_for('static', filename='utils.js') }}");
        const { idsReservados, idVisitanteAdmin } = utils;

        const idUsuarioSessao = sessionStorage.getItem("id_usuario");
        const idVisitanteSessao = sessionStorage.getItem("id_visitante");
        const idNumerico = idUsuarioSessao ? parseInt(idUsuarioSessao) : 0;
        const isMobile = window.innerWidth <= 1200;
        
        // const isAdmin = idsReservados.includes(idNumerico) || idVisitanteSessao === idVisitanteAdmin;
        const isAdmin = false;

        if (!isMobile && !isAdmin) {
          const adScript = document.createElement('script');
          adScript.src = "https://pl28750365.effectivegatecpm.com/0f/87/79/0f877988a14c549bbccd28d0180a5867.js";
          adScript.type = 'text/javascript';
          adScript.async = true;
          
          // Usar appendChild no head ou body (DOMContentLoaded não é necessário em type="module")
          document.head.appendChild(adScript);
        }
      }
      catch (error) {
        console.error("Não foi possível carregar social bar:", error);
      }
    }
    carregarSocialBar();
  </script>-->

  <!-- Push-in ad do monetag 
    <script>
        if (window.innerWidth > 1200) {
            // Insira aqui o código de inicialização do Push-in da Monetag
            (function(s){s.dataset.zone='10606174',s.src='https://nap5k.com/tag.min.js'})([document.documentElement, document.body].filter(Boolean).pop().appendChild(document.createElement('script')))
        }
    </script>-->

<!-- Social bar simples da AdsTerra 
<script>
    if (window.innerWidth > 1200) {
        var script = document.createElement('script');
        script.src = "https://pl28750365.effectivegatecpm.com/0f/87/79/0f877988a14c549bbccd28d0180a5867.js";
        script.type = 'text/javascript';
        document.head.appendChild(script);
    }
  </script>
  -->
