<meta charset="UTF-8">

<!-- Configura tela de smartphones -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Descrição e ícone do site no mecanismo de pesquisa Google -->
<meta name="description" content="Experimente mais de 1000 perguntas em inúmeros temas científicos e populares, acumule pontos e suba de ranking">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/Favicon.png') }}?v=1">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17529321916"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-17529321916'); </script>

<!-- Rastreio da Hilltopads -->
<meta name="hilltopads-site-verification" content="e607b7eacc66223b94d4a395040ef828cec89698"/>

<!-- Rastrei da ClickAdu -->
<meta name="clckd" content="791dfdb243c561dea3f90a8babc584d1" />