<!DOCTYPE html>
<html lang="pt-BR" class="html-politica-de-privacidade">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/Favicon.png') }}">
  <meta name="description" content="Experimente perguntas discursivas e objetivas nos mais variados temas neste aplicativo gratuito">

  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17529321916"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-17529321916'); </script>
  
  <title>Sobre o App - Desafio das Perguntas</title>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        font-family: Arial, sans-serif;
    }
    th, td {
        background-color: #e7e0e0;
        border: 2px solid var(--cor-fundo-escuro);
        padding: 10px;
        font-weight: 600;
    }
    th {
        background-color: var(--cor-fundo-padrao);
        font-weight: bold;
        color: white;
    }
</style>
<body class="body-politica-de-privacidade">
  <main class="main-politica-de-privacidade">
    <div class="content-politica-de-privacidade">

      <!-- Título com data da última atualização -->
      <div class="header-content-politica-de-privacidade">
        <h1 class="h1-politica-de-privacidade">Sobre o App</h1>
        <span class="last-update">Última atualização: 28/12/2025</span>
      </div>

      <!-- Conteúdo -->
      <h2 class="h2-politica-de-privacidade">1. Informações Gerais</h2>
      <p class="p-politica-de-privacidade">
        Desafio das Perguntas é um app educativo e gratuito (contamos com doações dos usuários), que oferece um sistema de rankings e pontuações para medir o desempenho do jogador em cada tema. Também conta com um mecanismo de pesquisa por subtemas para que o usuário possa revisar e fixar o conteúdo das perguntas já respondidas.
      </p>

      <h2 class="h2-politica-de-privacidade">2. Perguntas discursivas</h2>
        <p class="p-politica-de-privacidade"> Procure responder de forma simples (ex: "Brasil" em vez de "República Federativa do Brasil") e não se preocupe com possíveis erros de acentuação ou uso de letras maiúsculas e minúsculas, pois o sistema ignora pequenos erros de digitação ao analisar a resposta enviada. Se não souber a resposta, você tem opção de pular a pergunta, diminuindo a penalidade recebida. Em algumas perguntas você poderá solicitar uma dica (disponível no canto superior direito, com ícone de lâmpada). A cada 10 perguntas discursivas respondidas, você aumenta em 1 o seu estoque de dicas disponíveis.</p>

      <h2 class="h2-politica-de-privacidade">3. Perguntas objetivas</h2>
        <p class="p-politica-de-privacidade"> As perguntas objetivas possuem 4 alternativas cada, não oferecem dicas e nem opção de pular a pergunta.</p>

      <h2 class="h2-politica-de-privacidade">4. Regras do jogo</h2>
      <ul class="ul-politica-de-privacidade">
        <li class="li-politica-de-privacidade">Cada nova pergunta respondida corretamente adiciona pontos ao jogador no tema selecionado e cada erro ou pergunta não respondida reduz a pontuação. As únicas perguntas que não valem pontos (tanto para erros quanto para acertos) são as de nível Fácil no ranking Lenda e as que são usadas no modo Revisão, disponível na página de pesquisa.</li>
        <li class="li-politica-de-privacidade">Caso acerte uma pergunta em que utilizou dica, você será penalizado em cerca de 30% do valor da pontuação de acerto. Dicas só podem ser usadas em perguntas que valem mais do que 10 pontos.</li>
        <li class="li-politica-de-privacidade">O jogador é penalizado em 80 pontos por cada erro e em 40 por cada pergunta pulada.</li>
        <li class="li-politica-de-privacidade">É possível ser promovido ou rebaixado de ranking de acordo com a pontuação atual. Cada novo ranking exige 1000 pontos, sendo 4000 o necessário para chegar no último e 5000 a pontuação máxima que se pode obter.</li>
        <li class="li-politica-de-privacidade">Veja abaixo as regras para pontos ganhos em cada nível de pergunta:</li>
      </ul>

      <table>
        <thead>
        <tr>
            <th>Ranking</th>
            <th>Acertos no Fácil</th>
            <th>Acertos no Médio</th>
            <th>Acertos no Difícil</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Iniciante</td>
                <td>110 pontos</td>
                <td>150 pontos</td>
                <td>Nível bloqueado</td>
            </tr>
            <tr>
                <td>Aprendiz</td>
                <td>70 pontos</td>
                <td>110 pontos</td>
                <td>150 pontos</td>
            </tr>
            <tr>
                <td>Estudante</td>
                <td>30 pontos</td>
                <td>70 pontos</td>
                <td>110 pontos</td>
            </tr>
            <tr>
                <td>Sábio</td>
                <td>10 pontos</td>
                <td>30 pontos</td>
                <td>70 pontos</td>
            </tr>
            <tr>
                <td>Lenda</td>
                <td>Não valem pontos</td>
                <td>10 pontos</td>
                <td>30 pontos</td>
            </tr>
        </tbody>
      </table>

      <h2 class="h2-politica-de-privacidade">4. Contato</h2>
      <p class="p-politica-de-privacidade">
        Para dúvidas, sugestões ou suporte, entre em contato pelo e-mail: <a href="mailto:evolveplaystudio@gmail.com">evolveplaystudio@gmail.com</a>
      </p>

    </div>
  </main>

  <!-- Rodapé da página -->
  <footer>
    {% if session.get('from_login') %}
      <a href="{{ url_for('login') }}">Início</a> |
      <a href="{{ url_for('politica_privacidade_from_login') }}">Política de Privacidade</a> |
      <a href="{{ url_for('termos_uso_from_login') }}">Termos de Uso</a> |
      <a href="{{ url_for('sobre_app_from_login') }}" style="color: var(--cor-pagina-selecionada)">Sobre o App</a>
    {% else %}
      <a href="{{ url_for('home') }}">Home</a> |
      <a href="{{ url_for('politica_privacidade') }}">Política de Privacidade</a> |
      <a href="{{ url_for('termos_uso') }}">Termos de Uso</a> |
      <a href="{{ url_for('sobre_app') }}" style="color: var(--cor-pagina-selecionada)">Sobre o App</a>
    {% endif %}
  </footer>

</body>
</html>
